.red{
    background-color: red;
}
.green{
    background-color: green;
}
.selected{
    background-color: green;
}
.not-selected:hover{
    cursor: pointer;
}

.selected:hover{
    cursor: pointer;
}